<div>
    <div class="d-flex flex-column align-items-center m-3">
        <h2>Seleccione el Proveedor</h2>
        <div class="form-check">
            <input type="radio" class="btn-check" name="marca" id="flex" [(ngModel)]="marca" value="flex"
                autocomplete="off">
            <label class="btn btn-outline-dark m-2" for="flex">Flex Color</label>
            <input type="radio" class="btn-check" name="marca" id="royal" [(ngModel)]="marca" value="royal"
                autocomplete="off">
            <label class="btn btn-outline-dark" for="royal">Royal Cort</label>
            <input type="radio" class="btn-check" name="marca" id="fati" [(ngModel)]="marca" value="fati"
                autocomplete="off">
            <label class="btn btn-outline-dark m-2" for="fati">Fati</label>
        </div>
    </div>
    <div class="d-flex justify-content-center m-4">
        <button type="button" class="btn btn-outline-warning me-5" (click)="isCollapsed1 = !isCollapsed1"
            [attr.aria-expanded]="!isCollapsed1" aria-controls="masivo">Modificacion de Precios
        </button>
        <button type="button" class="btn btn-outline-success" (click)="isCollapsed2 = !isCollapsed2"
            [attr.aria-expanded]="!isCollapsed2" aria-controls="cargararchivo">Cargar desde Archivo
        </button>
        <button type="button" class="btn btn-outline-primary ms-5" (click)="isCollapsed3 = !isCollapsed3"
            [attr.aria-expanded]="!isCollapsed3" aria-controls="cargamanual">Carga Manual
        </button>
    </div>
    <hr>
    <div id="masivo" [collapse]="isCollapsed1" [isAnimated]="true">
        <div class="container  bg-warning-subtle border-warning p-3 mt-3">
            <h2>Modificacion Masiva de Precios</h2>
            <div class="d-flex justify-content-center">
                <input placeholder="Porcentaje" class="border rounded border-black p-2" [(ngModel)]="porcen"
                    id="porcent" name="porcent" type="number" />
                <button class="btn btn-warning btn-block m-2 p-2" (click)="masivo()">Modificar</button>
            </div>
        </div>
    </div>
    <div id="cargararchivo" [collapse]="isCollapsed2" [isAnimated]="true">
        <div class="container  bg-success-subtle border-succes p-3 mt-3">
            <h2>Cargar desde Archivo</h2>
            <div class="d-flex justify-content-center">
                <input class="border rounded border-black p-2" type="file" (change)="archivoSelec($event)" />
                <button class="btn btn-success btn-block m-2 p-2" [disabled]="marca == 'fati' "
                    (click)="carga()">Cargar</button>
            </div>
        </div>
    </div>
    <div id="cargamanual" [collapse]="isCollapsed3" [isAnimated]="true">
        <div class="container bg-primary-subtle border-primary mt-3 p-3">
            <h2>Cargar Manual</h2>
            <form *ngIf="marca != 'fati'" (ngSubmit)="agregar()" #entryForm="ngForm">
                <table class="table table-primary mt-3 ">
                    <thead class="text-center">
                        <tr>
                            <th class="col-nombre">Nombre</th>
                            <th class="col-precio">Precio</th>
                            <th class="col-estela">Es Tela?</th>
                            <th class="col-sistema">Sistema</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-nombre">
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="nuevaTela.tela" name="tela"
                                        placeholder="Nombre" required>
                                </div>
                            </td>
                            <td class="col-precio">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="nuevaTela.precio"
                                        name="precio" placeholder="Número" required>
                                </div>
                            </td>
                            <td class="col-estela">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="nuevaTela.esTela" name="estela"> Es Tela
                                    </label>
                                </div>
                            </td>
                            <td class="col-sistema">
                                <div class="form-group">
                                    <select class="form-control" [(ngModel)]="nuevaTela.sistema" name="sistema"
                                        required>
                                        <option value="ROLLER">Roller</option>
                                        <option value="VERTICALES">Vertical</option>
                                        <option value="PERSIANA">Persiana</option>
                                        <option value="DUBAI">Dubai</option>
                                        <option value="ORIENTAL">Oriental</option>
                                        <option value="ROMANA">Romana</option>
                                        <option value="ZEBRA">Zebra</option>
                                        <option value="ADICIONAL">Adicional</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary" [disabled]="!entryForm.form.valid">Agregar
                    Entrada</button>
                <table class="table table-primary mt-3">
                    <thead class="text-center">
                        <tr>
                            <th class="col-nombre">Nombre</th>
                            <th class="col-precio">Precio</th>
                            <th class="col-estela">Es Tela?</th>
                            <th class="col-sistema">Sistema</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tela of telas">
                            <td class="col-nombre">{{ tela.tela }}</td>
                            <td class="col-precio">{{ tela.precio }}</td>
                            <td class="col-estela">{{ tela.esTela }}</td>
                            <td class="col-sistema">{{ tela.sistema }}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <form *ngIf="marca == 'fati'" (ngSubmit)="agregar()" #entryForm="ngForm">
                <table class="table table-primary mt-3 ">
                    <thead class="text-center">
                        <tr>
                            <th class="col-nombre">Nombre</th>
                            <th class="col-precio">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-nombre">
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="nuevoServ.tipo" name="tipo"
                                        placeholder="Nombre" required>
                                </div>
                            </td>
                            <td class="col-precio">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="nuevoServ.precio"
                                        name="precio" placeholder="Número" required>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary" [disabled]="!entryForm.form.valid">Agregar
                    Entrada</button>
                <table class="table table-primary mt-3">
                    <thead class="text-center">
                        <tr>
                            <th class="col-nombre">Nombre</th>
                            <th class="col-precio">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let serv of servs">
                            <td class="col-nombre">{{ serv.tipo }}</td>
                            <td class="col-precio">{{ serv.precio }}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <button class="btn btn-success" (click)="guardar()" [disabled]="!esValido()">Guardar Todo</button>
        </div>
    </div>
</div>