<div class="d-flex justify-content-evenly mt-3">
    <button mat-button routerLink="">Inicio</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="btn btn-outline-success">Pedidos</button>
    <mat-menu #menu2="matMenu">
        <button mat-menu-item routerLink="pedido/lista">Lista</button>
        <button mat-menu-item routerLink="pedido/nuevo">Nuevo</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu3" class="btn btn-outline-success">Medidas</button>
    <mat-menu #menu3="matMenu">
        <button mat-menu-item routerLink="presupuesto/lista">Lista</button>
        <button mat-menu-item routerLink="presupuesto/nuevo">Nuevo</button>
    </mat-menu>
    <button mat-button routerLink="cotizador">Cotizar</button>
    <button mat-button [matMenuTriggerFor]="menu4" class="btn btn-outline-success">Productos</button>
    <mat-menu #menu4="matMenu">
        <button mat-menu-item routerLink="db">Nuevo</button>
        <button mat-menu-item routerLink="tela/editar">Editar</button>
    </mat-menu>
</div>