
<div class="mt-5">
    <table class="table table-borderless">
        <thead>
            <tr class="text-center">
            <th scope="col"><h1>Clientes</h1></th>
            <th scope="col"><h1>Pedidos</h1></th>
            <th scope="col"><h1>Presupuestos</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td> <button class="btn btn-outline-success iconos" routerLink="cliente/lista">
                <img src="../../assets/img/usuario.png" alt="123" placeholder="">
            </button></td>
            <td><button class="btn btn-outline-success iconos" routerLink="pedido/lista">
                <img src="../../assets/img/carrito-de-compras.png" alt="123">
            </button></td>
            <td><button class="btn btn-outline-success iconos" routerLink="presupuesto/lista">
                <img src="../../assets/img/sobresalir.png" alt="123">
                
                </button></td>
            </tr>
        </tbody>
    </table>
</div>