<div class="mt-5">
    <table class="table table-borderless">
        <thead>
            <tr class="text-center">
                <th scope="col">
                    <h2>Pedidos</h2>
                </th>
                <th scope="col">
                    <h2>Presupuestos</h2>
                </th>
                <th>
                    <h2>Cotizador</h2>
                </th>
                <th>
                    <h2>Productos</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td><button class="btn btn-outline-success iconos" routerLink="pedido/lista">
                        <img src="../../assets/img/carrito-de-compras.png" alt="123">
                    </button></td>
                <td><button class="btn btn-outline-success iconos" routerLink="presupuesto/lista">
                        <img src="../../assets/img/sobresalir.png" alt="123">
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-success iconos" routerLink="cotizador">
                        <img src="../../assets/img/cotizar.png" alt="123">
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-success iconos" routerLink="db">
                        <img src="../../assets/img/telas.png" alt="123">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>