<div class="mt-5">
    <div class="container">
        <table class="table table-borderless">
            <tbody>
                <tr class="text-center row">
                    <td class="col-12 col-md-3">
                        <h2>Pedidos</h2>
                        <button class="btn btn-outline-success iconos w-100" routerLink="pedido/lista">
                            <img src="../../assets/img/carrito-de-compras.png" class="w-100" alt="123">
                        </button>
                    </td>
                    <td class="col-12 col-md-3">
                        <h2>Medidas</h2>
                        <button class="btn btn-outline-success iconos w-100" routerLink="presupuesto/lista">
                            <img src="../../assets/img/sobresalir.png" class="w-100" alt="123">
                        </button>
                    </td>
                    <td class="col-12 col-md-3">
                        <h2>Cotizador</h2>
                        <button class="btn btn-outline-success iconos w-100" routerLink="cotizador">
                            <img src="../../assets/img/cotizar.png" class="w-100" alt="123">
                        </button>
                    </td>
                    <td class="col-12 col-md-3">
                        <h2>Productos</h2>
                        <button class="btn btn-outline-success iconos w-100" routerLink="db">
                            <img src="../../assets/img/telas.png" class="w-100" alt="123">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>